* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: #ffffff;
  background-image: url("./netflix-background-image\ 1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  text-align: center;
}
.container {
  background-color: rgba(0, 0, 0, 0.4);
  margin: 20px;
  border-radius: 5px;
}
form {
  display: inline-block;
  width: fit-content;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 15px 20px;
  color: #c4c4c4;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

h1 {
  font-family: "Bowlby One SC", cursive;
  font-size: 50px;
  letter-spacing: 0.05em;
}
span {
  color: #ff0000;
}
p {
  font-family: "Sorts Mill Goudy", serif;
  font-size: 23px;
}
